<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
</head>
<body>
<div class="visual">
    <svg width="1000" height="800"></svg>
    <div width="1000" class="hidden" id="filters">
        <button>EZPZ</button>
    </div>
    <div width="1000" height="800" class="visible" id="charts"></div>
    <div width="600" height="800" class="hidden" id="statistics"></div>
    <div class="dropdown">
        <div class="wut">
            <button onclick="myFunction()" class="dropbtn">Dropdown</button>
            <div id="myDropdown" class="dropdown-content">
                <a href="#home">Bezrobocie</a>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/scripts")
@RenderSection("Scripts", required: false)
</body>
</html>