<div class="visual">
    <svg width="1000" height="800"></svg>
    <div width="1000" class="visible" id="filters">
        <div>
            <form id="filterForm" target="hiddenFrame">
                <div>
                    <p>Województwo:</p>
                    <input type="text" name="Kod" placeholder="Województwo"/>
                </div>
                <div>
                    <p>Pierwsza kategoria:</p>
                    <select id="Kategoria1"></select>
                </div>
                <div>
                    <p>Druga Kategoria:</p>
                    <select id="Kategoria2"></select>
                </div>
                <div>
                    <p>Od roku: <output name="RokOdLabel" id="RokOdOutput"></output></p>
                    <input id="RokOdRange" type="range" name="RokOd" step="1" min="2010" max="2015" oninput="RokOdOutput.value = RokOdRange.value" disabled="disabled"/>
                </div>
                <div>
                    <p>Do roku: <output name="RokDoLabel" id="RokDoOutput"></output></p>
                    <input id="RokDoRange" type="range" name="RokDo" step="1" min="2010" max="2015" oninput="RokDoOutput.value = RokDoRange.value" disabled="disabled"/>
                </div>
                <input type="submit" value="Submit" />
            </form>
            <p></p>
        </div>
    </div>
    <div width="1000" height="800" class="visible" id="charts"></div>
    <div width="600" height="800" class="hidden" id="statistics"></div>
    <div class="dropdown">
        <div class="wut">
            <button onclick="myFunction()" class="dropbtn">Dropdown</button>
            <div id="myDropdown" class="dropdown-content">
                <a href="#home">Bezrobocie</a>
            </div>
        </div>
    </div>
</div>
<iframe name="hiddenFrame" width="0" height="0" border="0" style="display: none;"></iframe>