    .woj {
        fill: #000;
    }

    .woj-boundary {
        fill: none;
        stroke: #000;
        stroke-width: 2px;
        stroke-linejoin: round;
    }

    path.woj:hover {
        fill: #E09404 !important;
        /*fill: #FF9600 !important;*/
        /*fill: #969529 !important;*/             
    }

    path.clicked {
        fill: #E09404 !important;
    }

    .visible {
        display: block;
        /*background-color: red;*/
    }

    .hidden {
        display: none;
    }

    .dropbtn {
        background-color: #4CAF50;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }
    
    .dropbtn:hover, .dropbtn:focus {
        background-color: #3e8e41;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        overflow: auto;
        box-shadow: 0 8px 16px 0 #000000;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown a:hover {
        background-color: #f1f1f1;
    }

    .show {
        display: block;
    }

    .wut {
        padding: 40px;
    }

    .visual {
        display: flex;
        flex-direction: row;
        flex-flow: wrap;
        align-items: stretch;
    }

    .bar {
        fill: steelblue;
    }

    .bar--positive {
      fill: green;
    }

    .bar--negative {
      fill: steelblue;
    }

    table{
        border-collapse: collapse;
        width: 100%;
        font-family: sans-serif;
        color: black;
    }   

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    #charts p {
        max-width: 400px;
    }

    .data-node {
        max-height: 300px;
    }

    .line {
        stroke: #000;
    }